# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo

# Build / packaging
build/
dist/
*.egg-info/

# System files
.DS_Store
Thumbs.db

# Jupyter / Notebooks
*.ipynb_checkpoints

# Credentials / secrets
*.env
apikey.txt

# Logs and temporary files
*.log
*.tmp

# IDE settings
.vscode/
.idea/

# Flask specific
instance/
*.db
